@keyframes example {
    from {background-color: #276caa;}
    to {background-color: #020024;}
  }

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #FFF;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1 {
    font-size: 102px;
}

#input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

#input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#addButton {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

#addButton:hover, #clearButton:hover {
    background: none;
    color: #FFF;
    transition: 0.2s;
}

#clearButton {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

button {
    width: 14px;
    height: 11px;
    border: none;
    cursor: pointer;
    background: none;
}

main > form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > form > span > ul {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > form > span > ul li {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(55, 55, 55);
    background-color: #FFF;
    margin: 6px;
    border-radius: 5px;
    padding: 3px;
}

